In [1]:
import pandas as pd

In [7]:
df = pd.read_csv('Archives/Products - 02.02.2024.csv', sep=';')

In [8]:
df.head()

,id,brand,description,final_price,discount,original_price,regular_price
0,316566,PLAYADITO,Yerba Mate Playadito Suave 1 Kg,"$2.567,5",-35%,$3.950,Precio regular: $3.950 x kg
1,389656,PEPITOS,Galletitas Dulces Con Chips De Chocolate Pepit...,$1.755,-35%,$2.700,"Precio regular: $7.714,29 x kg"
2,389653,OREO,Galletitas Dulces Rellenas Con Crema Oreo 354 Gr,$2.200,NaN,NaN,"Precio regular: $6.214,69 x kg"
3,4252,NATURA,Aceite De Girasol Natura 1.5 L,$2.700,NaN,NaN,Precio regular: $1.800 x lt
4,246322,SIN MARCA,Caja Navideña Verde 1 U,$6.490,NaN,NaN,Precio regular: $6.490 x un

In [9]:
df['regular_price'] = df['regular_price'].str.replace('Precio regular: $', '')

In [10]:
df.head()

,id,brand,description,final_price,discount,original_price,regular_price
0,316566,PLAYADITO,Yerba Mate Playadito Suave 1 Kg,"$2.567,5",-35%,$3.950,3.950 x kg
1,389656,PEPITOS,Galletitas Dulces Con Chips De Chocolate Pepit...,$1.755,-35%,$2.700,"7.714,29 x kg"
2,389653,OREO,Galletitas Dulces Rellenas Con Crema Oreo 354 Gr,$2.200,NaN,NaN,"6.214,69 x kg"
3,4252,NATURA,Aceite De Girasol Natura 1.5 L,$2.700,NaN,NaN,1.800 x lt
4,246322,SIN MARCA,Caja Navideña Verde 1 U,$6.490,NaN,NaN,6.490 x un

In [11]:
expanded_precio_regular = df['regular_price'].str.split(' ', expand = True)
df['regular_price'] = expanded_precio_regular[0]
expanded_precio_regular[2] = expanded_precio_regular[2].str.replace('.', '')

In [12]:
df.head()

,id,brand,description,final_price,discount,original_price,regular_price
0,316566,PLAYADITO,Yerba Mate Playadito Suave 1 Kg,"$2.567,5",-35%,$3.950,3.950
1,389656,PEPITOS,Galletitas Dulces Con Chips De Chocolate Pepit...,$1.755,-35%,$2.700,"7.714,29"
2,389653,OREO,Galletitas Dulces Rellenas Con Crema Oreo 354 Gr,$2.200,NaN,NaN,"6.214,69"
3,4252,NATURA,Aceite De Girasol Natura 1.5 L,$2.700,NaN,NaN,1.800
4,246322,SIN MARCA,Caja Navideña Verde 1 U,$6.490,NaN,NaN,6.490

In [23]:
expanded_precio_regular

             0  1   2     3
0        3.950  x  kg  None
1     7.714,29  x  kg  None
2     6.214,69  x  kg  None
3        1.800  x  lt  None
4        6.490  x  un  None
..         ... ..  ..   ...
395   4.629,63  x  kg  None
396   2.205,88  x  kg  None
397     11.500  x  kg  None
398  16.111,11  x  kg  None
399      1.150  x  kg  None

[400 rows x 4 columns]

In [28]:
expanded_precio_regular[expanded_precio_regular[2] == '100'].head()

         0  1    2    3
41   1.200  x  100  gr.
83     900  x  100  gr.
90   1.400  x  100  gr.
123  2.750  x  100  gr.
133  2.500  x  100  gr.

In [25]:
expanded_precio_regular[2]

0      kg
1      kg
2      kg
3      lt
4      un
       ..
395    kg
396    kg
397    kg
398    kg
399    kg
Name: 2, Length: 400, dtype: object

In [26]:
expanded_precio_regular[2].unique()

array(['kg', 'lt', 'un', '100'], dtype=object)